.section__title span {
    color: var(--first-color);
    border-radius: 40%;
    transition: 1s;
    align-items: center;
}

.work__filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
}

.work__item:hover {
    color: var(--first-color);
}

.work__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.875rem;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-height: 400px;
}

.work__mask {
    background-color: #6c6ce6;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.work__mask:hover {
    opacity: 0.8;
}

.work__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.work__button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__category{
    opacity: 1;
    transform: translateY(0);
}

.pageSection {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: var(--h3-font-size);
}

.pagination {
    display: inline-block;
    background-color: antiquewhite;
    border-radius: var(--border-radius);
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .description {
    display: flex;
  }

  .show-desc {
    min-width:  55%;
    min-height: 500px;
    overflow: hidden;
    background-color: antiquewhite;
    opacity: 1;
    transition: linear 1s;
    margin-right: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  } 

  .close-desc {
    width: 0;
    min-height: 300px;
    overflow: hidden;
    transition: ease-in-out 1s;
    opacity: 0.1;
    margin-right: 20px;
  }
  

  .work__title__desc{
    margin-left: 2.5rem;
  }

  .work__img__desc{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .work__title__desc2{
    margin-left: 2rem;
  }

  .work__img__desc{
    max-height: 400px;
    align-items: center;
    object-fit: contain;
  }
@media screen and (max-width: 1024px){
    .work__container {
        grid-template-columns: repeat(2,1fr);
        gap: 1.875rem;
    }
}

@media screen and (max-width: 720px){
    .work__container {
        grid-template-columns: repeat(1,1fr);
        gap: 1.875rem;
    }
}